.App {
  text-align: center;
}
.btn-success {
    position:absolute; 
    top:5px; 
    left:5px;
}
.card {
    width: 70rem;
    margin: 0 auto;
    float: none;
    margin-top: 20px;
    background-color: #ccc;
}
